
.settings/org.eclipse.wst.jsdt.ui.superType.name
/sloeber.ino.cpp
/spec.d
/Release/
.cproject
.DS_Store
.project
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
.cproject
.project
