
body {
	font-size: 1.1em;
	max-width: 320px;
}

.title {
	font-size: 1.8em;
	text-align: center;
}
.directCtl {
    height: 2em;
	font-size: 1em;
	text-align: center;
	color: white;
	background-color: lightblue;
	border-radius: 0.3em;
	padding: 0.3em;
}

.footer {
    font-size: 1em;
	text-align: right;
	color: white;
	background-color: #c04020;
	border-radius: 0.3em;
	padding: 0.3em;
}
.col2 {
	columns: 2;
}

.col3 {
	columns: 3;
}

.col4 {
	columns: 4;
}
input[type="number"],input[type="time"] {
   width:60px;
}
button { height: 3em; border-radius: 0.9em; background-color: lightgrey; }

.led-red {
    margin: 5px auto;
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    margin: 5px auto;
    width: 12px;
    height: 12px;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
    margin: 5px auto;
    width: 12px;
    height: 12px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
    margin: 5px auto;
    width: 12px;
    height: 12px;
    background-color: #4AB;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 12px;
}

.led-grey {
    margin: 5px auto;
    width: 12px;
    height: 12px;
    background-color: #C0C0C0;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #9A9 0 -1px 9px, #969 0 2px 12px;
}


